.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(108, 64, 181);
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: rgb(40, 18, 77);
}
  
input:checked + .slider:before {
    transform: translateX(26px); 
}
  
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    transition: 0.3s;
}
  
.sun-icon {
    left: 8px;
    color: rgb(108, 64, 181); 
}
  
.moon-icon {
    right: 8px;
    color: rgb(40, 18, 77); 
    opacity: 0; 
}
  
input:checked + .slider .sun-icon {
    opacity: 0; 
}
  
input:checked + .slider .moon-icon {
    opacity: 1; 
}
  